{% extends 'ebook/base.html' %}
{% block title %}
    <title>My Uploads</title>
{% endblock title %}

{% block content %}
{% if books %}
    <h3>Books</h3>
    <div class="table-responsive">
    <table class="table" border=1>
        <tr id="th">
        <th>Book Title</th>
        <th>Book Author</th>
        <th>Book Publisher</th>
        <th>Book Version</th>
        <th>Book Subject</th>
        <th>Book Content</th>
    </tr>
    
    {% for book in books  %}
    <tr>
        <td><a href="{% url 'pdfs:book_details' pk=book.pk %}">{{book.book_title}}</a></td>
        <td>{{book.book_author}}</td>
        <td>{{book.book_publisher}}</td>
        <td>{{book.book_version}}</td>
        <td>{{book.book_subject}}</td>
        <td><a href="{{book.book_content.url}}">Download</a></td>
    </tr>
    {% endfor %}
        
    </table>
</div>
{% else %}
    <p>No books match the given request</p>
{% endif %}
{% endblock content %}
    