.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    
  }
  #cont{
      margin-top: 0em;
  }
.carousel-item{
    height: 450px;
    
} 
.carousel-item img{
    height: 450px;
}
.account-img {
    height: 100px;
    width: 100px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
.order-card {
    color: #fff;
}

.bg-c-blue {
    background: linear-gradient(45deg,#4099ff,#73b4ff);
}

.bg-c-green {
    background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}

.bg-c-yellow {
    background: linear-gradient(45deg,#FFB64D,#ffcb80);
}

.bg-c-pink {
    background: linear-gradient(45deg,#FF5370,#ff869a);
}


.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card .card-block {
    padding: 25px;
}

.order-card i {
    font-size: 26px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}
#dash{
    margin-top: 1em;
}

.black-overlay{
    position: absolute;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
    background: rgba(0,0,0,0.6);
}
#th {
    background-color:#9109e0;
    color: white;
  }
table
{
    text-align: center;
}

.content-section {
    background: rgb(255, 255, 255);
    padding: 20px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  .main{
    min-height: 100vh;
    height:100%;
}

 
          
 