{% extends 'ebook/base.html' %}
{% load static %}
{% block title %}
    <title>Instructions</title>
{% endblock title %}


{% block content %}
    <h2>INSTRUCTIONS</h2>
    <small style="color: red;">Please read carefully</small>
    <p></p>
    <ol>
        <li><b>Signing Up As Teacher</b>
            <ul style="list-style-type:square;">
                <li>4 cards in dashboard page</li>
                <li>Upload Books</li>
                <li>Download Books if you wish to</li>
                <li>You can view the details of the students and can download pdf of the same</li>
                <li>You can view your upload. Edit or delete them when ever you wish</li>
                <li>You can edit your profile by going to the Profile section</li>
                <li>You can update or reset password by clicking on forget password on the login page</li>
            </ul>
        </li>
        <p></p>
        <li><b>Signing Up As Student</b>
            <ul style="list-style-type:square;">
                <li>1 card in dashboard page</li>
                <li>Download Books if you wish to</li>
                <li>You can edit your profile by going to the Profile section</li>
                <li>You can update or reset password by clicking on forget password on the login page</li>
              </ul>
        </li>
    </ol>
{% endblock content %}
    